* {
  box-sizing: border-box;
  font-family: 'Aptos', sans-serif;
}

body {
  margin: 0;
  background: #eef6f9;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-card {
  background: white;
  padding: 25px;
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

h2 {
  text-align: center;
  color: #6f48a9;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: 2px solid #070b0f;
  border-radius: 6px;
  font-size: 14px;
}

.input-group button {
  background: #070b0f;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px dashed #ddd;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.check-box {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  border: 2px solid #31ce58;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-weight: bold;
}

.check-box.active {
  background: #4a6370;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.remove {
  background: #a5e53e;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}
